---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro'
import App from '../components/App'

// 1 Japanese Yen = EXCHANGE_RATE US Dollars
const EXCHANGE_RATE = 0.0064194379 // TODO: connect to real API
---

<Layout title="円⇄ドル 億万換算ツール">
    <main>
        <h1 class="text-xl font-bold">億万円を米ドルに換算</h1>
        <App client:load ex={EXCHANGE_RATE} />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 6rem 1rem;
        width: 400px;
        max-width: calc(100% - 2rem);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 20px;
        line-height: 1.6;
    }
</style>
